<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/own-ui.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>聊天室</title>
</head>
<body>
<div id="content">
    <header class="title">
        <h1>CHAT ROOM</h1>
    </header>
    <div id="message-content">

    </div>
</div>
<script src="static/js/common.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>-->
<script src="plugins/socket.io.js"></script>
<!--<script src="static/js/main.js"></script>-->
<script src="public/plugins/react.min.js"></script>
<script src="public/plugins/react-dom.min.js"></script>
<script src="build/home.js"></script>
</body>
</html>